<div class="container">
	<h1 class="display-4">The Travel Book</h1>
	<p>
		Search for all types of FIRST resources by name, author, or tag.
		All resources have been verified by a panel of experts to determine that they are of the highest of standards.
	</p>

	<hr/>

	<div class="searchcontainer row">

		<!-- on default when nothing is searched show all resources in the database -->
		<div class="txtsearch col-md-6">
			<div class="row">
				<div class="col-md-10">
					<input type="text" [(ngModel)]="query" class="form-control inptsearch" placeholder="Search by Document or Team Name">
				</div>
				<div class="col-md-2">
					<!-- button to search for documents in the database based on text input -->
					<button class="btn btn-primary right" type="submit" (click)="searchTitle()">
						Search
					</button>
				</div>
			</div>
		</div>

		<div class="tagsearch col-md-6">

			<!-- this is the tag input selection branch  -->
			<div class="row">
				<div class="col-md-10">
					<div class="tagholder">
						<tag-input [(ngModel)]='items'
							[onlyFromAutocomplete]="true"
							[maxItems]='3'
							(onAdd)="tagUpdate($event)"
							(onRemove)="tagUpdate($event)">

							<tag-input-dropdown
								[showDropdownIfEmpty]="true"
								[autocompleteItems]="tags">
							</tag-input-dropdown>

						</tag-input>
					</div>

				</div>
				<div class="col-md-2">
					<!-- button to search for documents in the database based on tag -->
					<button class="btn btn-primary right" (click)="searchTags()" style="margin-top: 7px" type="submit">
						Search by Tag
					</button>
				</div>
			</div>


		</div>

	</div>
</div>

<div class="container">
	<!-- the resource card component is an easy way to make all the resources
	look nice in a NG repeat. Just pass in the resource object you get from
	the databse and have it display each value.

	LIMIT TO ONLY SHOWING TEN RESOURCES PER PAGE BASED ON THE USER SEARCH -->

	<div *ngFor="let resource of resources">
		<resource-card [resource]="resource"></resource-card>
	</div>

	<!-- <resource-card></resource-card> -->

	<!-- depending on how many resources based on the search, display how many pages -->
	<div *ngIf="!rExist()">
		No Resources
	</div>

	<button (click)='prevPage()' [disabled] = "!prevKeys?.length"> Prev </button>
	<button (click)='nextPage()' [disabled] = "!nextKey"> Next </button>




</div>
