<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:#003974; min-height:25px" >
	<div class="container">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div *ngIf="!auth.isLoggedIn">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="login" style="padding: 5px">Login</a>
				</li>
				<li>
					<a href="signup" style="padding: 5px">Sign Up</a>
				</li>
			</ul>
			</div>

			<div *ngIf="auth.isLoggedIn">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="my-profile" style="padding: 5px">My Profile</a>
					</li>
					<li>
						<a (click)="logout()" href="home" style="padding: 5px">Log Out</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</nav>

<div class="sidecolor"></div>

<div class="container-fluid" style="margin-left: 5%; margin-right: 5%; margin-top: 45px">
	<a routerLink="/home" class="logo">
		<img src='../assets/logo.png' id='FIRST Pathways' class="logo"/>
	</a>
	<div class="rightbtnscontainer">
		<div class="rightbtns">
			<a routerLink="/about">Pathways</a>
		</div>
		<div class="rightbtns" style="color: red; font-size: 64px; padding-top: 5%">&bull;</div>
		<div class="rightbtns">
			<a routerLink="/travel-book">The Travel Book</a>
		</div>
		<div class="rightbtns" style="color: red; font-size: 64px; padding-top: 5%">&bull;</div>
		<div class="rightbtns">
			<div *ngIf="auth.isLoggedIn">
				<a routerLink="/my-profile">My Account</a>
			</div>
			<div *ngIf="!auth.isLoggedIn">
				<a routerLink="/login">My Account</a>
			</div>

		</div>
	</div>
</div>
