@media screen and (max-width: 1280px) {
    .rightbtns{
        font-size:30px;
        padding: 7% 5px 0px 5px !important;
    }
}
.logo {
    max-height: 150px;
    max-width: 100%;
    height: auto;
    width: auto;
    padding: 0px;

}
.logocontainer{
    max-height: 150px;
    padding: 30px 20% 30px 15px;
    display: inline-block;
}
.sidecolor{
	height: 100%;
	width: 15px;
	background-image:url(../../assets/sidestripe.png);
	position: fixed;
	left: 0;
	top: 0;
	background-size:cover;
}

.rightbtnscontainer{
    float:right;
    position: relative;
    font-size:38px;
}
.rightbtns{
    color:#000000;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    padding: 7% 15px 0px 15px;
}

a {
    color: #2a2a2a;
}
