<div class="container">

    <div class="cardhoriz">
      <!-- I will figure out how to do the image preview so don't worry -->
      <div class="cardimg">
      </div>

      <div class="cardstacked">
        <div class="cardtitle">
          <!-- Pass in the resource name from the database -->
          Resource Name (with color based on branch)
        </div>

        <div class="cardcontent">
          <!-- Pass in the user name off of the resource branch -->
          <b><p>Created by: User Name</p></b>
          <!-- Pass in the resource description from the database -->
          <p>Description</p>
        </div>
        <div class="cardaction">
          <button type="button" class="btn btn-secondary btn-sm">Download</button>
          <div class="cardtags">
            <!-- Pass tags  -->
            Tags:
            <span class="badge badge-default">FLLjr</span>
            <span class="badge badge-primary">Team Building</span>
            <span class="badge badge-primary">Activities</span>
          </div>
        </div>
      </div>
    </div>

  </div>
