
<app-header></app-header>

<br />

<router-outlet></router-outlet>

<br /><br />

<div class="footer navbar-fixed-bottom" style="background-color: #003974; color: #d6d6d6; padding-top: 5px; padding-bottom: 5px;">
  <div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="copyright">
					© 2017, FIRST Pathways, All rights reserved
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="design">
					 <a href="#">FIRST Pathways </a> |  <a target="_blank" href="http://www.firstinspires.org">FIRST Inspires</a>
				</div>
			</div>
		</div>
	</div>
</div>
