<div class="container-fluid">
<div class="row">

	<ul class="nav nav-pills flex-column nav-stacked" style="background-color:#003974; padding: 4px">
		<li class="nav-item" style="width:100%">
			<a class="nav-link buttontab" href="my-profile">Profile</a>
		</li>
		<li class="nav-item">
			<a class="nav-link buttontab" href="my-teams">Teams</a>
		</li>
		<li class="nav-item">
			<a class="nav-link buttontab" href="my-resources">Resources</a>
		</li>
		<li class="nav-item buttontab">
			<a class="nav-link buttontab" href="social">Social</a>
		</li>
		<li class="nav-item buttontab">
			<a class="nav-link buttontab" href="settings">Settings</a>
		</li>
	</ul>

</div>
</div>
