<div class="row">
<div class="col-10">
	<h1 class="display-4">Pathway Teams</h1>
</div>
<div class="col-2">
	<div *ngIf="!edit">
		<button (click)="toggleEdit()" class="btn btn-outline-primary">
			Edit
		</button>
	</div>
	<div *ngIf="edit">
		<button (click)="toggleEdit()" class="btn btn-outline-primary">
			View
		</button>
	</div>
</div>
</div>

<br>

<div *ngIf="!edit">
	<table class="table">
		<thead class="thead-default">
			<tr>
				<th>Team Name</th>
				<th>Team Number</th>
				<th>FIRST Branch</th>
				<th>School</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let Team of PathwayTeams | async">
				<td>{{Team.Name}}</td>
				<td>{{Team.Number}}</td>
				<td>{{Team.Branch}}</td>
				<td>{{Team.School}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div *ngIf="edit">
<table class="table">
	<thead>
		<tr>
			<th>Team Name</th>
			<th>Team Number</th>
			<th>FIRST Branch</th>
			<th>School</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let Team of PathwayTeams | async">
			<th>
				<input #name type="text" class="form-control" [ngModel]="Team.Name">
			</th>
			<th>
				<input #number type="text" class="form-control" [ngModel]="Team.Number">
			</th>
			<th>
				<input #branch type="text" class="form-control" [ngModel]="Team.Branch">
			</th>
			<th>
				<input #school type="text" class="form-control" [ngModel]="Team.School">
			</th>
			<th>
				<div class="btn-group-vertical">
				<button type="button" class="btn btn-outline-primary" (click)="saveTeam(Team.$key, name.value, number.value, branch.value, school.value)">
					Save
				</button>
				<button type="button" class="btn btn-outline-primary" (click)="removeTeam(Team.$key)">
					Remove
				</button>
				</div>
			</th>
		</tr>
		<tr>
			<th>
				<input type="text" class="form-control" [(ngModel)]="team.name">
			</th>
			<th>
				<input type="text" class="form-control" [(ngModel)]="team.number">
			</th>
			<th>
				<input type="text" class="form-control" [(ngModel)]="team.branch">
			</th>
			<th>
				<input type="text" class="form-control" [(ngModel)]="team.school">
			</th>
			<th>
				<button type="button" class="btn btn-outline-primary" (click)="addTeam()">
					Add
				</button>
			</th>
		</tr>
	</tbody>
</table>
</div>
