<div class="container-fluid">
<div class="row">
<div class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
<sidebar></sidebar>
</div>



<div class="col-sm-9 col-md-10 pt-3" style="width:80%">
	<div class="row">
		<div class="col-md-10">
			<h1 #name class="display-4">{{(User | async)?.Name}}</h1>
		</div>
		<div class="col-2">
			<button (click)="toggleEdit()" class="btn btn-outline-primary">
				<div *ngIf="edit">
					Submit
				</div>
				<div *ngIf="!edit">
					Edit Profile Photo
				</div>
			</button>
		</div>

	<br/>

	<div class="col-md-5">
		<div *ngIf="!edit">
			<img [src]="(User | async)?.PhotoURL" alt="Display Photo" class="profilephoto">
		</div>
		<div *ngIf="edit">

			<label for="photoURL"><h5>Add from URL</h5></label>
			<input #photo id="photoURL" type="text" class="form-control" [ngModel]="(User | async)?.PhotoURL" (onblur)="saveUserPhoto(photoUrl.value)">

			<br />

			<label for="uploadImage"><h5>Upload from Computer</h5></label>
			<input type="file" id="uploadImage" class="form-control-file" (change)="uploadImage($event.target.files[0], name)">

		</div>
	</div>

	<div class="col-md-7">

		<h4>Bio</h4>

		<div *ngIf="!edit">
			<p>{{(User | async)?.Bio}}</p>
		</div>
		<div *ngIf="edit">
			<textarea #bio id="bio" cols="30" rows="10" class="form-control" [ngModel]="(User | async)?.Bio" (blur)="saveUserBio(bio.value)">
			</textarea>
		</div>

		<h4>Website</h4>

		<div *ngIf="!edit">
			<a [href]="(User | async)?.Website" target="_blank">
				{{(User | async)?.Website}}
			</a>
		</div>
		<div *ngIf="edit">
			<input #website type="text" id="website" class="form-control" [ngModel]="(User | async)?.Website" (blur)="saveUserWebsite(website.value)">
		</div>

	</div>
	</div>
	</div>
</div>
</div>
