<div class="container-fluid" style="padding:0px">
    <div class="bannercontainer">
        <img src='../assets/banner.png' id='FIRST Pathways' class="banner"/>
    </div>
    <div class="infoheader">
        Creating Pathways through all levels of the FIRST&reg; Robotics Competition
    </div>
</div>


<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
              Welcome to FIRST Pathways!
            </h1>
        </div>

        <p>
          <strong> FIRST Pathways </strong>, a program started by the FIRST Dean’s List class of 2017,
          aims to encourage the development of FIRST  by providing an outlet for teams to collaborate
          and grow the FIRST program both locally and globally. Pathways intends to create a model system
          that all teams can adopt for their own team to implement within their school districts. By working
          together, we aim to connect all levels of FIRST Robotics and promote STEM as a life long program.
        </p>

        <!-- Features Section -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Why Pathways</h2>
            </div>
            <div class="col-md-6">
                <p>FIRST® Pathways seeks to create a unified methodology and program providing FRC teams the
                   necessary tools to help establish FLL Jr., FLL, FTC and finally FRC feeder programs in their
                   school district and their communities. By providing resources, organizational support, and
                   funding model, Pathways aims to fully realize Dean Kamen’s goal for the “Sport of the Mind”.
                </p>
                <br/>
                <p>There are many benefits to this system. Firstly, it would provide students with access to
                  all levels of FIRST® throughout their academic career. Secondly, it establishes a sustainability
                  system for all levels of the team making sure that there is a constant pipeline of students.
                  Thirdly, it directly puts FIRST® Robotics into the school community and changes the culture to
                  become a part of the student identity. Fourthly, it better prepares students for high school
                  robotics as well as gives them experience with the lower levels making them more inclined to
                  mentor teams once they are at the higher level. Finally, it embodies Dean Kamen’s goal of creating
                  the Sport of the Mind by giving students a lifelong sport that they can grow up, make lifelong friends in,
                  and ultimately learn and be inspired by science and technology.
                </p>
            </div>
            <div class="col-md-6">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ZTbzh5rXuhA"></iframe>
              </div>
            </div>
        </div>
        <!-- /.row -->

        <br/>
        <hr/>


        <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #009cd7; color: white">
                        <h4><i class="fa fa-fw fa-check"></i><strong>Progression of Programs</strong></h4>
                    </div>
                    <div class="panel-body" >
                        <p>The FIRST Pathways Progression of Programs encourages Pathways teams to create a relationship
                           with their respective school districts to develop the levels of FIRST throughout the community.
                           Pathways teams would mentor the younger level teams and in doing so, bridge the gap between levels,
                           lessening the drop off rate.  This system would create a cyclical system of students growing
                           through FIRST, and as students graduate they pass down the inspiration and knowledge to the younger
                           students involved in the pathway.</p>
                        <a href="/about" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default" >
                    <div class="panel-heading" style="background-color:  #f57e25; color: white">
                        <h4><i class="fa fa-fw fa-gift"></i><strong>Resource Database</strong></h4>
                    </div>
                    <div class="panel-body">
                        <p>As FIRST Pathways aims to create a consolidation of resources for all levels of FIRST,
                          Pathways teams can upload resources to be shared worldwide. Whether videos, activities,
                          or guides, these resources will undergo a checking process before publishing as to ensure
                          teams accessing the resources will be given the most accurate information possible.
                          This also allows teams to become  fully involved with FIRST Pathways while in the beginning stages
                          of building a progression system.</p>
                        <a href="travel-book" class="btn btn-default">Travel Book</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #ed1c24; color: white">
                        <h4><i class="fa fa-fw fa-compass"></i><strong>Pathways Teams</strong></h4>
                    </div>
                    <div class="panel-body">
                        <p>While upholding the FIRST Core Values, Pathways teams are asked to aid in the development
                          and mentorship of as many FIRST teams as possible. Teams will be given guidance by the executive
                          members of the FIRST Pathways team  to help with involvement in Pathways.  Working together, we
                          can give every student the opportunity to grow through FIRST. Want to start your FIRST Pathway today?</p>
                        <a href="about" class="btn btn-default">Start </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->



        <hr>

        <!-- Call to Action Section -->
        <div class="well" style="background-color:  #00a651; color: white">
            <div class="row" >
                <div class="col-md-8" >
                    <h4>Want to start a Pathway Today. Sign Up Now</h4>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="/signup">Sign Up</a>
                </div>
            </div>
        </div>

        <hr>
