<!-- Features Section -->
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">The Problem</h1>
    </div>
    <div class="col-md-12">
        <p>FIRST® Robotics was designed as a progression of programs, but too often students miss out on the full FIRST®
          experience. Analysis of data indicates that a significant majority of FIRST Lego League students finish after
          their 6th grade year in robotics, but do not continue on to FTC or FRC once they leave their elementary school.
          Many junior high schools/middle schools do not offer FLL and/or they don’t  know that they are eligible for FTC
          at the 7th grade level therefore missing out on the opportunity to continue with FIRST. Once students reach the
          high school level, those that participated in FLL don’t realize the relationship between FLL and FRC, again,
          missing out on the progression sequence through the FIRST® family of competitions.
        </p>
        <br/>
        <p>Two main causes for this disruption in the progression have been identified: </p>
        <ol class="list-group">
          <li class="list-group-item"><strong>
          1) Students are not informed
          </strong></li>
          <li class="list-group-item"><strong>
          2) Many school districts concentrate their robotics programs at STEM schools leaving some schools in their district nonrepresented.
        </strong></li>
        </ol>
        <p>FIRST Pathways will solve both of these problems. FIRST Pathways aims to create a feeder program, led by an affiliate FRC team, to both serve as a disseminator of information to the students, and as ambassadors for FIRST® working with their school districts to provide equal access to FIRST® programs for all students in a given school district.
        </p>
    </div>
</div>
<!-- /.row -->


<div class="row">
  <div class="col-sm-12">
      <h1 class="page-header">The Pathway's Solution</h1>
  </div>
<div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #009cd7; color: white">
                <h4><i class="fa fa-fw fa-check"></i><strong>Progression System</strong></h4>
            </div>
            <div class="panel-body" >
              <img src="../assets/progression.jpg" alt="" class="img-responsive center-block" />
              <hr/>
                <p>Pathways is designed to easily integrate in a school districts’ already established feeder
                   program. At the top of the program is the FRC team which works to provide primary mentorship
                   to all lower levels. The program is designed to be cooperative. For example, an FLL team may
                   receive mentorship from the FTC team established at their district junior high/ middle school
                   as well as from their matriculation high school FRC team. The goal is that the  FLL team(s)
                   would graduate members onto joining the FTC team and eventually, the FRC team. </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" >
            <div class="panel-heading" style="background-color:  #f57e25; color: white">
                <h4><i class="fa fa-fw fa-gift"></i><strong>Pathway Partner</strong></h4>
            </div>
            <div class="panel-body">
              <img src="../assets/partner.jpg" alt="" class="img-responsive center-block" />
              <hr/>
                <p>Each participating FRC/FTC team will apply to become a FIRST Pathways Partner. The goal of
                  the partners is to provide assistance to school districts to establish a sustainable continuum
                  of FIRST® programs (FLL Jr., FLL, FTC and FRC) through funding efforts, workshops, mentorship
                  and resources following the guidance of the FIRST Pathways model and program. The Pathway
                  will be in charge of working with the district to set up Pathways teams in their district.
                  The Partner will also need to register onto the Pathways slack to stay in touch with admin.
                  For all the partner requirements, please see the FAQ.


                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #ed1c24; color: white">
                <h4><i class="fa fa-fw fa-compass"></i><strong>Pathways Funding</strong></h4>
            </div>
            <div class="panel-body">
              <div class="panel-body">
                <img src="../assets/funding.jpg" alt="" class="img-responsive center-block" />
                <hr/>
                <p>The FIRST Pathways program will include a funding component to assist the creation of rookie teams
                   in the school district. The goal is to identify and secure a pool of money to support the registration
                    fees for Pathways teams, and to establish means to secure funding for years moving forward. The Pathway
                    partnered team will be asked to raise funds to partially fund FLL Jr, FLL, and FTC teams in their respective
                    school district. The FRC/FTC Team must be able to match the grant in funding. The grant is designed to pay for
                    half of the registration fees for the Pathways teams

                  </p>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Frequently asked Questions</h1>
    </div>
    <div class="col-md-12">

    </div>
</div>
